<settings>
  <setting propertyKey="@Properties.AppVersion" title="@Strings.AppVersionTitle">
    <settingConfig type="alphaNumeric" readonly="true" />
  </setting>

  <setting propertyKey="@Properties.TopField" title="@Strings.TopFieldTitle">
    <settingConfig type="list">
      <listEntry value="1">@Strings.FieldBattery</listEntry>
      <listEntry value="2">@Strings.FieldDate</listEntry>
      <listEntry value="3">@Strings.FieldSteps</listEntry>
      <listEntry value="4">@Strings.FieldHeart</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.BottomField" title="@Strings.BottomFieldTitle">
    <settingConfig type="list">
      <listEntry value="1">@Strings.FieldBattery</listEntry>
      <listEntry value="2">@Strings.FieldDate</listEntry>
      <listEntry value="3">@Strings.FieldSteps</listEntry>
      <listEntry value="4">@Strings.FieldHeart</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.ColorScheme" title="@Strings.ColorSchemeTitle">
    <settingConfig type="list">
      <!-- DARK MODE ON BLACK -->
      <listEntry value="0xff0">@Strings.ColorSchemeWhiteOnBlack</listEntry>
      <listEntry value="0xee0">@Strings.ColorSchemeYellowOnBlack</listEntry>
      <listEntry value="0xdd0">@Strings.ColorSchemeCyanOnBlack</listEntry>
      <listEntry value="0xcc0">@Strings.ColorSchemeGreenOnBlack</listEntry>
      <listEntry value="0xbb0">@Strings.ColorSchemeMagentaOnBlack</listEntry>
      <listEntry value="0xaa0">@Strings.ColorSchemeOrangeOnBlack</listEntry>
      <listEntry value="0x990">@Strings.ColorSchemeRedOnBlack</listEntry>
      <listEntry value="0x880">@Strings.ColorSchemeBlueOnBlack</listEntry>

       <!-- DARK MODE ON RED -->
      <listEntry value="0xff2">@Strings.ColorSchemeWhiteOnRed</listEntry>
      <listEntry value="0xef2">@Strings.ColorSchemeWhiteAndYellowOnRed</listEntry>

      <!-- LIGHT MODE ON WHITE -->
      <listEntry value="0x00f">@Strings.ColorSchemeBlackOnWhite</listEntry>
      <listEntry value="0x01f">@Strings.ColorSchemeBlueOnWhite</listEntry>
      <listEntry value="0x02f">@Strings.ColorSchemeRedOnWhite</listEntry>
      <listEntry value="0x03f">@Strings.ColorSchemeGreenOnWhite</listEntry>
      <listEntry value="0x04f">@Strings.ColorSchemeVioletOnWhite</listEntry>

      <!-- LIGHT MODE ON YELLOW -->
      <listEntry value="0x00e">@Strings.ColorSchemeBlackOnYellow</listEntry>
      <!-- LIGHT MODE ON CYAN -->
      <listEntry value="0x00d">@Strings.ColorSchemeBlackOnCyan</listEntry>
      <!-- LIGHT MODE ON GREEN -->
      <listEntry value="0x00c">@Strings.ColorSchemeBlackOnGreen</listEntry>
      <!-- LIGHT MODE ON MAGENTA -->
      <listEntry value="0x00b">@Strings.ColorSchemeBlackOnMagenta</listEntry>
    </settingConfig>
  </setting>

  <setting propertyKey="@Properties.UseLeadingZero" title="@Strings.UseLeadingZeroTitle">
    <settingConfig type="boolean" />
  </setting>
</settings>
